/*----------------------
-------variables--------
----------------------*/
/*----------------------
-----global styles------
----------------------*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Lato';
  src: url(fonts/Lato-Regular.ttf), url(fonts/Lato-Light.ttf), url(fonts/Lato-Bold.ttf), url(fonts/Lato-Black.ttf), url(fonts/Lato-Thin.ttf);
}

body {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*----------------------
---------header---------
----------------------*/
.header {
  background: #222222;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1170px) {
  .container {
    padding: 0 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.header__wrap {
  padding-left: 32px;
  padding-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__list,
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  padding-top: 18px;
  padding-bottom: 19px;
  margin-right: 41px;
}

.menu__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list .account {
  margin: 0 42px 0 25px;
}

.menu__list .basket__wrap {
  position: relative;
}

.menu__list .basket__wrap .basket-count {
  color: white;
  background-color: #F16D7F;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  width: 19px;
  height: 19px;
  text-align: center;
  font-size: 12px;
  line-height: 19px;
  right: -7px;
  top: -4px;
}

/*----------------------
---------brand----------
----------------------*/
.brand-wrap {
  position: relative;
}

.brand-wrap .brand-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.brand-wrap .hidden {
  display: none;
}

.brand-wrap .brand {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.brand-wrap .left__box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: white;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.brand-wrap .left__box .brand__img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.brand-wrap .right__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.brand-wrap .right__box .brand__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.brand-wrap .right__box .brand__text .brand__span {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.brand-wrap .right__box .brand__text .fashion {
  color: #F16D7F;
}

.brand-wrap .before__text {
  margin-left: 64px;
  margin-right: 16px;
}

.navbar {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: end;
  margin-left: auto;
  top: 0;
  max-height: inherit;
  overflow: auto;
}

.navbar__menu {
  height: 100%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: relative;
}

.navbar__menu .menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 37px 143px 24px 34px;
}

.navbar__menu .heading-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
  padding-left: 34px;
}

.navbar__menu .for {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 20px;
  padding-left: 55px;
}

.navbar__menu .li-element-margin {
  margin-bottom: 11px;
}

.menu-close {
  position: absolute;
  top: 16px;
  right: 16px;
}

/*----------------------
---------offer----------
----------------------*/
.offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 64px;
  margin-bottom: 97px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.offer .text__offer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.offer .offer__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.offer .offer__card:nth-child(4) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
}

.offer .offer__img {
  width: 100%;
}

.offer .heading__img {
  color: #F16D7F;
}

.offer .text__img-1 {
  position: absolute;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.offer .text__img-2 {
  position: absolute;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.offer .text__img-3 {
  position: absolute;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.offer .text__img-4 {
  position: absolute;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*------------------------------
------------featured------------
------------------------------*/
.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 95px;
}

.featured .heading__featured {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 0 auto 6px;
}

.featured .text__featured {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: 0 auto 48px;
}

.featured .featured__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 15px 39px;
  margin: 48px auto 0;
  background: #ffffff;
  border: 1px solid #FF6A6A;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 30px;
}

.cards .featured__card {
  background: #F8F8F8;
}

.cards .featured__card .featured__img-wrap {
  position: relative;
}

.cards .featured__card .featured__img-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cards .featured__card .featured__img-wrap:hover .featured__img-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .featured__card .featured__img-dark button {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  background: none;
  margin: 0 auto;
  border: solid 1px white;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .featured__card .featured__img-dark button img {
  margin-right: 11px;
}

.cards .featured__card .card-img {
  width: 100%;
  height: 100%;
}

.cards .featured__card .card__title {
  margin: 23px 27px 20px 16px;
}

.cards .featured__card .card__title .card-heading {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}

.cards .featured__card .card__title .card-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.cards .featured__card .card__title .card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-bottom: 20px;
}

.cards__product {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr / 1fr 1fr 1fr;
  gap: 30px;
}

.cards__product .featured__card {
  background: #F8F8F8;
}

.cards__product .featured__card .featured__img-wrap {
  position: relative;
}

.cards__product .featured__card .featured__img-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cards__product .featured__card .featured__img-wrap:hover .featured__img-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__product .featured__card .featured__img-dark button {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  background: none;
  margin: 0 auto;
  border: solid 1px white;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__product .featured__card .featured__img-dark button img {
  margin-right: 11px;
}

.cards__product .featured__card .card-img {
  width: 100%;
  height: 100%;
}

.cards__product .featured__card .card__title {
  margin: 23px 27px 20px 16px;
}

.cards__product .featured__card .card__title .card-heading {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}

.cards__product .featured__card .card__title .card-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.cards__product .featured__card .card__title .card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-bottom: 20px;
}

.pagination {
  width: 284px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid #EBEBEB;
  margin-top: 48px;
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3px;
}

.pagination a {
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4;
  text-decoration: none;
}

.pagination a:hover {
  color: #EF5B70;
}

/*----------------------
---------sevices--------
----------------------*/
.services {
  background: #222222;
}

.services .service__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 103px auto;
}

.services .service__box .service__content {
  text-align: center;
}

.services .service__box .service__content .services__heading {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 25px;
  margin-bottom: 16px;
}

.services .service__box .service__content .services__text {
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  opacity: 0.7;
}

.services .service__box .service__content .services__logo {
  height: 35px;
}

/*----------------------
--------subscribe-------
----------------------*/
.subscribe {
  background-image: url(img/background-img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.subscribe .subscribe__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe .subscribe__box .about {
  text-align: center;
  margin-top: 97px;
  margin-bottom: 150px;
  width: 360px;
}

.subscribe .subscribe__box .about .about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.subscribe .subscribe__box .about img {
  margin-bottom: 30px;
}

.subscribe .subscribe__box .subscribe__form {
  text-align: center;
  margin: 150px 0;
}

.subscribe .subscribe__box .subscribe__form .sub__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}

.subscribe .subscribe__box .subscribe__form .sub__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  margin-bottom: 20px;
}

.subscribe .subscribe__box .subscribe__form .sub__input {
  height: 50px;
  background: #E1E1E1;
  border-radius: 50px 0 0 50px;
  width: 260px;
}

.subscribe .subscribe__box .subscribe__form .sub__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 22px;
}

.subscribe .subscribe__box .subscribe__form .sub__button {
  height: 54px;
  background: #F16D7F;
  border-radius: 0 50px 50px 0;
  width: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.subscribe .subscribe__box .subscribe__form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*----------------------
---------footer---------
----------------------*/
.footer {
  background-color: #222222;
}

.footer .footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .copy {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin: 30px 0;
}

.footer .footer__icons {
  margin: 24px 0;
}

/*----------------------
---------CATALOG--------
----------------------*/
/*----------------------
--------arrivals--------
----------------------*/
.newArrivals {
  background-color: #F8F3F4;
  min-height: 148px;
}

.newArrivals .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newArrivals .newArrivals__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.newArrivals nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newArrivals span {
  margin: 3px;
}

.newArrivals nav a {
  text-decoration: none;
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.newArrivals a:last-of-type {
  color: #F16D7F;
}

/*----------------------
---------filters--------
----------------------*/
.filters {
  margin-top: 51px;
  margin-bottom: 64px;
}

.filters .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters .filters__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 320px;
}

.filters .filters__right .filterSize .filterSizeWrap {
  margin-right: 0;
}

.filters .filters__right span {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 10px;
}

.filters .filters__right div:not(:last-child) {
  margin-right: 30px;
}

.filters .filters__right .filter__bars {
  margin-bottom: 1px;
}

.filters .filters__left {
  position: relative;
}

.filters .filters__left .filters__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 11px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.filters .filters__left .filters__label_pink {
  color: #EF5B70 !important;
}

.filters .filters__left .filter__bars {
  position: relative;
  z-index: 2;
}

.filters .filter__popup {
  position: absolute;
  top: -10px;
  left: -16px;
  width: 368px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 46px 16px 16px 16px;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filters .filter__popup .filter__category a {
  display: block;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filters .filter__popup .filter__category a:not(:last-child) {
  margin-bottom: 11px;
}

.filters .filter__popup_hidden {
  display: none;
}

.filters .filter__categoryHeading {
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  color: #EF5B70;
  padding-left: 16px;
  min-height: 37px;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.filters .filter__categoryHeading::before {
  content: '';
  width: 5px;
  min-height: inherit;
  background: #EF5B70;
  position: absolute;
  left: 0;
  top: 1px;
}

.filters .filter__categoryHeading_margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filters .hiddenLinks {
  display: none;
}

.filters .filterSizeWrap {
  cursor: pointer;
}

.filters .filterSize {
  position: relative;
}

.filters .filterSize .filterSizeBox {
  position: absolute;
  left: -10px;
  top: 25px;
  width: 79px;
  height: 103px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #6F6E6E;
  padding: 7px 7px 11px 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
}

.filters .filterSize .hidden {
  display: none;
}

/*----------------------
---------PRODUCT--------
----------------------*/
/*----------------------
---------slider---------
----------------------*/
.slider {
  width: 100%;
  background: #f7f7f7;
  min-height: 777px;
  position: relative;
  text-align: center;
  margin-bottom: -65px;
  z-index: 1;
}

.slider .slider__img {
  max-width: 100%;
  margin-top: 11px;
  margin-bottom: 42px;
}

.slider .sliderLeftArrow,
.slider .sliderRightArrow {
  position: absolute;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  background-position: center center;
  background-repeat: no-repeat;
  top: calc(50% - 47px / 2);
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider .sliderLeftArrow {
  left: 0;
  background-image: url(/img/catalog/slider-arrow-left.svg);
}

.slider .sliderRightArrow {
  right: 0;
  background-image: url(/img/catalog/slider-arrow-right-pink.svg);
}

/*----------------------
-------collection-------
----------------------*/
.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #EAEAEA;
  background: #FFFFFF;
  z-index: 2;
  margin-bottom: 128px;
  width: 100%;
}

.collection .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.collection .collection__women {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 65px;
  margin-bottom: 12px;
}

.collection .line-pink {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  border-color: #EF5B70;
  margin-bottom: 12px;
}

.collection .collection__heading {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.collection .collection__text {
  max-width: 555px;
  min-width: 326px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  margin-bottom: 32px;
}

.collection .collection__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 64px;
}

.collection .brakeLine {
  width: 77%;
  opacity: 20%;
  margin-bottom: 64px;
}

.collection .collection__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 48px;
}

.collection .collection__choose div:not(:last-child) {
  margin-right: 23px;
}

.collection .collection__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F16D7F;
  padding: 15px 57px 14px 24px;
  background: #ffffff;
  border: 1px solid #FF6A6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}

.collection .button__img {
  margin-right: 23px;
}

/*----------------------
----------CART----------
----------------------*/
/*----------------------
--------cartLeft--------
----------------------*/
.shoppingCart {
  background-color: #F8F3F4;
  min-height: 148px;
}

.shoppingCart .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shoppingCart .shoppingCart__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cart {
  margin-top: 96px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
}

.cart .cart__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 57%;
}

.cart .cart__left .cart__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 306px;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  background: white;
  position: relative;
  padding-bottom: 1%;
}

.cart .cart__left .cart__unit .cart__unit_img {
  position: absolute;
  height: 100%;
  width: 40%;
}

.cart .cart__left .cart__unit .unit__spec {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 0px 62px 45%;
  position: absolute;
  height: 100%;
  width: 100%;
}

.cart .cart__left .cart__unit .unit__spec .spec__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.cart .cart__left .cart__unit .unit__spec .spec__price,
.cart .cart__left .cart__unit .unit__spec .spec__color,
.cart .cart__left .cart__unit .unit__spec .spec__size,
.cart .cart__left .cart__unit .unit__spec .spec__quantity {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #575757;
}

.cart .cart__left .cart__unit .unit__spec .spec__brand {
  color: #EF5B70;
}

.cart .cart__left .cart__unit .unit__spec .spec__input {
  width: 44px;
  height: 24px;
  border: 1px solid #EAEAEA;
  text-align: center;
  margin-left: 24px;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

.cart .cart__left .cart__unit .cart__unitClose {
  position: absolute;
  top: 28px;
  right: 22px;
}

.cart .cart__left .cart__unit:hover {
  opacity: 60%;
}

.cart .cart__left .cart__unit_margin {
  margin-top: 40px;
  margin-bottom: 72px;
}

.cart .cart__left .button__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .cart__left .button__box .cart__leftButton {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px 41px;
  background: white;
}

.cart .cart__right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px 0 0 128px;
  width: 43%;
}

.cart .cart__right .cart__rightForm {
  margin-bottom: 57px;
}

.cart .cart__right .form__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
  min-width: 100%;
}

.cart .cart__right .rightForm__countryInput::-webkit-input-placeholder {
  color: #B1B1B1;
}

.cart .cart__right .rightForm__countryInput:-ms-input-placeholder {
  color: #B1B1B1;
}

.cart .cart__right .rightForm__countryInput::-ms-input-placeholder {
  color: #B1B1B1;
}

.cart .cart__right .rightForm__countryInput::placeholder {
  color: #B1B1B1;
}

.cart .cart__right input {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding-left: 17px;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 100%;
  height: 45px;
  margin-bottom: 20px;
}

.cart .cart__right .form__button {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding: 10px 15px;
  background: white;
  border: 1px solid #A4A4A4;
}

.cart .cart__right .cart__total {
  background: #F5F3F3;
  padding-top: 39px;
  padding-bottom: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.cart .cart__right .cart__total .total__sub {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
  margin-right: 34px;
  margin-bottom: 12px;
}

.cart .cart__right .cart__total .sub__price {
  margin-left: 20px;
}

.cart .cart__right .cart__total .total__grand {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
  margin-right: 37px;
}

.cart .cart__right .cart__total .grand__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 20px;
}

.cart .cart__right .cart__total .total__shape {
  margin: 21px 42px 17px 42px;
  opacity: 40%;
}

.cart .cart__right .cart__total .total__button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  padding: 15px 43px;
  border: 1px solid #F16D7F;
}

@media (max-width: 768px) {
  body {
    width: 768px;
  }
  .container {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header__wrap {
    padding-left: 32px;
    padding-right: 32px;
  }
  .brand__img {
    width: 385px;
  }
  .brand-wrap .before__text {
    margin-left: 40px;
  }
  .brand-wrap .right__box .brand__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .brand-wrap .right__box .brand__text .brand__span {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }
  .offer {
    -ms-grid-rows: 168px 116px;
        grid-template-rows: 168px 116px;
    gap: 19px;
    margin-top: 19px;
    margin-bottom: 97px;
    padding: 0 15px;
  }
  .offer__img {
    width: 232px;
    height: 168px;
  }
  .offer__img-long {
    width: 735px;
    height: 116px;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 16px;
    padding: 0 16px;
  }
  .cards__product {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr / 1fr 1fr;
    gap: 16px;
    padding: 0 16px;
  }
  .featured__card_none {
    display: none;
  }
  .services .service__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 64px auto;
    width: 40%;
  }
  .service__content {
    margin-top: 48px;
  }
  .subscribe .subscribe__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 64px;
    margin-bottom: 140px;
  }
  .subscribe .subscribe__box .about {
    margin-top: 0;
    margin-bottom: 75px;
  }
  .subscribe .subscribe__box .subscribe__form {
    margin: 0 auto;
  }
  .footer__box {
    padding-left: 33px;
    padding-right: 33px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /*----------------------
    ---------CATALOG--------
    ----------------------*/
  /*----------------------
    --------arrivals--------
    ----------------------*/
  .newArrivals .container {
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .shoppingCart .container {
    padding-top: 50px;
  }
  .shoppingCart .container .shoppingCart__heading {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding-left: 16px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /*----------------------
    ---------filters--------
    ----------------------*/
  .filters {
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .filters .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .filters .filters__right div:not(:last-child) {
    margin-right: 28px;
  }
  .slider {
    margin-bottom: 0;
  }
  .slider .slider__img {
    margin-top: 30px;
  }
  .cart {
    margin-bottom: 0;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .container .cart__left {
    padding: 0 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  .container .cart__left .cart__unit {
    width: 734px;
  }
  .container .cart__left .button__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .cart__left .cart__leftButton_margin {
    margin-right: 48px;
  }
  .container .cart__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 64px 16px 0 16px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container .cart__right .cart__rightForm {
    width: 50%;
    margin-right: 15px;
  }
  .container .cart__right .cart__total {
    margin: 39px 0 147px 0;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 50%;
  }
}

@media (max-width: 375px) {
  body {
    width: 100%;
  }
  .container {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header-wrap {
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .account,
  .basket__wrap {
    display: none;
  }
  .menu__list {
    width: 30px;
  }
  .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .brand .right__box {
    width: 375px;
    height: 363px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brand .right__box .brand__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  .brand .right__box .brand__span {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
  }
  .brand .before__text {
    margin-left: 0px;
  }
  .brand .left__box {
    display: none;
  }
  .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .offer__img {
    width: 343px;
    height: 248px;
  }
  .offer__img-long {
    width: 343px;
    height: 111px;
  }
  .featured {
    margin-top: 64px;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
    row-gap: 16px;
    padding: 0 8px;
    margin-top: 64px;
  }
  .cards__product {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr / 1fr;
    row-gap: 16px;
    padding: 0 8px;
  }
  .services .service__box {
    padding: 0 14px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .subscribe .subscribe__box .about {
    width: 100%;
  }
  .subscribe .subscribe__box .subscribe__form {
    width: 100%;
  }
  /*----------------------
    ---------footer---------
    ----------------------*/
  .footer .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__box .copy {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .footer .footer__box .footer__icons {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /*----------------------
    ---------CATALOG--------
    ----------------------*/
  /*----------------------
    --------arrivals--------
    ----------------------*/
  .newArrivals .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newArrivals__heading {
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .newArrivals nav {
    margin-bottom: 46px;
  }
  .shoppingCart .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .shoppingCart .container .shoppingCart__heading {
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
  }
  /*----------------------
    ---------filters--------
    ----------------------*/
  .filters {
    margin-bottom: 40px;
  }
  .filters .container {
    padding: 0 8px;
  }
  .filters .filters__left span {
    display: none;
  }
  .filters .filters__left .filter__bars {
    width: 37px;
    height: 25px;
  }
  .filters .filters__right {
    margin-left: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .filters .filters__right span {
    font-size: 12px;
    line-height: 14px;
    margin-right: 9px;
  }
  .filters .filters__right div:not(:last-child) {
    margin-right: 24px;
  }
  /*----------------------
    ---------PRODUCT--------
    ----------------------*/
  /*----------------------
    ---------slider---------
    ----------------------*/
  .slider {
    min-height: 624px;
    border: 1px solid #EAEAEA;
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .slider .slider__img {
    max-width: 100%;
  }
  .collection {
    padding: 0 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 64px;
  }
  .collection .collection__choose {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #6F6E6E;
  }
  .cart {
    margin-top: 39px;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .cart .cart__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .cart .cart__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .cart .cart__left .cart__unit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 188px;
    -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
            filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background: white;
    position: relative;
  }
  .cart .cart__left .cart__unit .unit__spec {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 13px 53px 37px 165px;
    width: 100%;
  }
  .cart .cart__left .cart__unit .unit__spec .spec__heading {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
  }
  .cart .cart__left .cart__unit .unit__spec .spec__price,
  .cart .cart__left .cart__unit .unit__spec .spec__color,
  .cart .cart__left .cart__unit .unit__spec .spec__size,
  .cart .cart__left .cart__unit .unit__spec .spec__quantity {
    font-size: 14px;
    line-height: 17px;
  }
  .cart .cart__left .cart__unit .unit__spec .spec__input {
    width: 24px;
    height: 15px;
    margin-left: 24px;
    font-size: 10px;
    line-height: 12px;
  }
  .cart .cart__left .cart__unit .cart__unitClose {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 17px;
    right: 12px;
  }
  .cart .cart__left .cart__unit_img {
    width: 144px;
  }
  .cart .cart__left .cart__unit_margin {
    margin-top: 32px;
    margin-bottom: 30px;
  }
  .cart .cart__left .button__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart .cart__left .button__box .cart__leftButton {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 36px;
  }
  .cart .cart__left .button__box .cart__leftButton {
    text-transform: lowercase;
    opacity: 80%;
  }
  .cart .cart__left .button__box .cart__leftButton_margin {
    margin-right: 9px;
  }
  .cart .cart__right {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 48px 0 0 0;
  }
  .cart .cart__right .cart__rightForm {
    margin-bottom: 0;
    width: 100%;
  }
  .cart .cart__right .cart__rightForm .form__heading {
    width: 100%;
  }
  .cart .cart__right .cart__rightForm input {
    width: 100%;
  }
  .cart .cart__right .cart__total {
    padding-top: 39px;
    padding-bottom: 42px;
    margin-bottom: 96px;
    width: 100%;
  }
  .cart .cart__right .cart__total .total__sub {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-align: right;
    margin-right: 34px;
    margin-bottom: 12px;
  }
  .cart .cart__right .cart__total .sub__price {
    margin-left: 20px;
  }
  .cart .cart__right .cart__total .total__grand {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-align: right;
    margin-right: 37px;
  }
  .cart .cart__right .cart__total .grand__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-left: 20px;
  }
  .cart .cart__right .cart__total .total__shape {
    margin: 21px 42px 17px 42px;
    opacity: 40%;
  }
  .cart .cart__right .cart__total .total__button {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #F16D7F;
    padding: 15px 43px;
    border: 1px solid #F16D7F;
  }
}

.registration {
  margin-top: 40px;
  padding: 0 8px;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .registration {
    padding: 0 16px;
  }
}

@media (min-width: 768px) {
  .registration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 769px) and (max-width: 1141px) {
  .registration .registrationLeft {
    margin-right: 22px;
    width: 50%;
  }
}

@media (min-width: 1142px) {
  .registration .registrationLeft {
    margin-right: 128px;
  }
}

.registration .registrationLeft .registrationNameLabel {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration .registrationLeft .registrationInput {
  border: 1px solid #A4A4A4;
  width: 100%;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 16px;
}

.registration .registrationLeft .registrationInput_margin {
  margin-bottom: 20px;
}

.registration .registrationLeft .registrationInput::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration .registrationLeft .registrationInput:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration .registrationLeft .registrationInput::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration .registrationLeft .registrationInput::placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration .registrationLeft .inputRadio {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-top: 33px;
  margin-bottom: 35px;
  margin-right: 10px;
}

.registration .registrationLeft .inputRadioText {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  position: relative;
  bottom: 3px;
  margin-right: 20px;
}

.registration .registrationLeft .registrationRadioHidden {
  display: none;
}

.registration .registrationLeft .registraionText {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}

.registration .registrationLeft .registrationButton {
  background: #F16D7F;
  padding: 16px 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.registration .registrationLeft .registrationButton img {
  margin-left: 20px;
}

@media (min-width: 769px) and (max-width: 1141px) {
  .registration .registrationRight {
    width: 50%;
  }
}

.registration .registrationRight .registrationRightHeading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 32px;
}

@media (min-width: 1142px) {
  .registration .registrationRight .registrationRightHeading {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
}

.registration .registrationRight .registrationRightText {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 22px;
}

@media (min-width: 1142px) {
  .registration .registrationRight .registrationRightText {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
}

.registration .registrationRight .registrationRightList {
  list-style-type: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 96px;
}

@media (min-width: 1142px) {
  .registration .registrationRight .registrationRightList {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
}

.registration .registrationRight .registrationRightList li {
  background: url(img/registration-marker.svg);
  background-repeat: no-repeat;
  padding-left: 42px;
}

.registration .registrationRight .registrationRightList li:not(:first-child) {
  margin-top: 16px;
}
/*# sourceMappingURL=style.css.map */